<div class="ds-share flat" data-thread-key="{{ page.path }}"
     data-title="{{ page.title }}"
     data-content=""
     data-url="{{ page.permalink }}">
  <div class="ds-share-inline">
    <ul  class="ds-share-icons-16">

      <li data-toggle="ds-share-icons-more"><a class="ds-more" href="javascript:void(0);">分享到：</a></li>
      <li><a class="ds-weibo" href="javascript:void(0);" data-service="weibo">微博</a></li>
      <li><a class="ds-qzone" href="javascript:void(0);" data-service="qzone">QQ空间</a></li>
      <li><a class="ds-qqt" href="javascript:void(0);" data-service="qqt">腾讯微博</a></li>
      <li><a class="ds-wechat" href="javascript:void(0);" data-service="wechat">微信</a></li>

    </ul>
    <div class="ds-share-icons-more">
    </div>
  </div>
</div>

<!--<br />
<hr />
<span class="entry-tags" style="align-items: center;">{% for tag in page.tags %}
	<a href="{{ site.url }}/tags/#{{ tag }}" title="Pages tagged {{ tag }}" class="tag">
		<span class="term">{{ tag }}</span>
	</a>
	{% unless forloop.last %}{% endunless %}{% endfor %}
</span>
<div class="ds-share-inline">
    <ul  class="ds-share-icons-32">
      <li data-toggle="ds-share-icons-more"><a class="ds-more" href="javascript:void(0);">分享到：</a></li>
      <li><a class="ds-weibo" href="javascript:void(0);" data-service="weibo">微博</a></li>
      <li><a class="ds-qzone" href="javascript:void(0);" data-service="qzone">QQ空间</a></li>
      <li><a class="ds-qqt" href="javascript:void(0);" data-service="qqt">腾讯微博</a></li>
      <li><a class="ds-wechat" href="javascript:void(0);" data-service="wechat">微信</a></li>
    </ul>
    <div class="ds-share-icons-more">
    </div>
</div>-->
<!--<ul class="ds-share-icons-32">

   <li data-toggle="ds-share-icons-more"><a class="ds-more" href="javascript:void(0);"></a></li>

   <li> <a class="ds-weibo" href="javascript:void(0);" data-service="weibo"></a> </li> 

   <li> <a class="ds-qzone" href="javascript:void(0);" data-service="qzone"></a> </li> 

   <li> <a class="ds-sohu" href="javascript:void(0);" data-service="sohu"></a> </li> 

   <li> <a class="ds-renren" href="javascript:void(0);" data-service="renren"></a> </li> 

   <li> <a class="ds-netease" href="javascript:void(0);" data-service="netease"></a> </li> 

   <li> <a class="ds-qqt" href="javascript:void(0);" data-service="qqt"></a> </li> 

   <li> <a class="ds-kaixin" href="javascript:void(0);" data-service="kaixin"></a> </li> 

   <li> <a class="ds-douban" href="javascript:void(0);" data-service="douban"></a> </li> 

   <li> <a class="ds-qq" href="javascript:void(0);" data-service="qq"></a> </li> 

   <li> <a class="ds-meilishuo" href="javascript:void(0);" data-service="meilishuo"></a> </li> 

   <li> <a class="ds-mogujie" href="javascript:void(0);" data-service="mogujie"></a> </li> 

   <li> <a class="ds-baidu" href="javascript:void(0);" data-service="baidu"></a> </li> 

   <li> <a class="ds-taobao" href="javascript:void(0);" data-service="taobao"></a> </li> 

   <li> <a class="ds-google" href="javascript:void(0);" data-service="google"></a> </li> 

   <li> <a class="ds-wechat" href="javascript:void(0);" data-service="wechat"></a> </li> 

   <li> <a class="ds-diandian" href="javascript:void(0);" data-service="diandian"></a> </li> 

   <li> <a class="ds-huaban" href="javascript:void(0);" data-service="huaban"></a> </li> 

   <li> <a class="ds-duitang" href="javascript:void(0);" data-service="duitang"></a> </li> 

   <li> <a class="ds-youdao" href="javascript:void(0);" data-service="youdao"></a> </li> 

   <li> <a class="ds-pengyou" href="javascript:void(0);" data-service="pengyou"></a> </li> 

   <li> <a class="ds-facebook" href="javascript:void(0);" data-service="facebook"></a> </li> 

   <li> <a class="ds-twitter" href="javascript:void(0);" data-service="twitter"></a> </li> 

   <li> <a class="ds-linkedin" href="javascript:void(0);" data-service="linkedin"></a> </li> 

   <li> <a class="ds-msn" href="javascript:void(0);" data-service="msn"></a> </li> 

  </ul>-->